# IDE files
.idea
.idea/*
.idea/workspace.xml
*.log*
.DS_Store



#diss-backend
diss-backend
logs/*
swagger/*
swagger.zip
routers/commentsRouter_controllers.go
routers/commentsRouter*


lastupdate.tmp