# IDE files
.idea
.idea/*
.idea/workspace.xml
*.log*
.DS_Store



#diss-backend
diss-backend
logs/*
swagger/*
swagger.zip
conf/app.conf
lastupdate.tmp
mem*
build/*

#upload
#upload/*
upload/audit/*
upload/kubernetes/*
upload/license/*
upload/logo/*
upload/warnwhitelist/*

#license_srv
license_srv/*

#commentsRouters
routers/commentsRouter___________________Volumes_MacData_King*
routers/commentsRouter___________________Volumes_MacData_Galaxy*
