version: '3'
services:
  diss-backend:
    restart: always
    container_name: diss-backend
    image: registry.cn-qingdao.aliyuncs.com/diss/diss-backend
    ports:
      - "8080:8080"
      - "10443:10443"
      - "8889:8889"
    env_file:
      - conf/diss-backend.env
      - conf/diss-backend-db-postgres.env
    links:
      - diss-db
    depends_on:
      - diss-db
    volumes:
      - /tmp/diss/diss-backend/log:/opt/diss-backend/logs
      # to dev
      - ./conf:/opt/diss-backend/conf
      - ./swagger:/opt/diss-backend/swagger
      - ./bin/diss-backend:/opt/diss-backend/diss-backend
      - ./entrypoint.sh:/opt/diss-backend/entrypoint.sh
    entrypoint:
      - ./entrypoint.sh

  diss-db:
    restart: unless-stopped
    container_name: diss-db
    image: postgres:9.6
    env_file:
      - ./conf/diss-backend-db-postgres.env
    ports:
      - 5432:5432
    volumes:
      - /tmp/diss/postgres:/var/lib/postgresql/data