version: '3'
networks:
  diss-net-all:
    external: true
services:
  diss-backend:
    restart: always
    container_name: diss-backend-arm
    build:
      context: .
      dockerfile: Dockerfile-arm
    image: registry.cn-qingdao.aliyuncs.com/diss/diss-backend-arm
    ports:
      - "10443:10443"
      - "10444:10444"
    links:
      - diss-db
    depends_on:
      - diss-db
      - nats1
      - nats2
      - nats3
      - nats-streaming1
      - nats-streaming2
      - nats-streaming3
    volumes:
      - /var/lib/diss/diss-backend/upload/kubernetes:/opt/diss-backend/upload/kubernetes
      - /var/log/diss/diss-backend:/opt/diss-backend/logs
      - ./conf:/opt/diss-backend/conf
    entrypoint:
      - ./entrypoint.sh
    networks:
      - "diss-net-all"

  diss-db:
    restart: unless-stopped
    container_name: diss-db
    image: arm64v8/postgres:9.6
    env_file:
      - conf/diss-db.env
    expose:
      - 5432
    volumes:
      - /var/lib/diss/db/diss-db:/var/lib/postgresql/data
    networks:
      - "diss-net-all"
  nats1:
    image: arm64v8/nats:2.1.9
    ports:
      - 4222:4222
      - 8222:8222
    networks:
      - diss-net-all
    command: -m 8222 --user "diss" --pass "dissP@ssw0rd" --cluster nats://0.0.0.0:6222 --routes nats://nats3:6222
  nats2:
    image: registry.cn-qingdao.aliyuncs.com/diss/nats:2.1.9
    ports:
      - 4223:4222
      - 8223:8222
    networks:
      - diss-net-all
    command: -m 8222 --user "diss" --pass "dissP@ssw0rd" --cluster nats://0.0.0.0:6222 --routes nats://nats1:6222
  nats3:
    image: arm64v8/nats:2.1.9
    ports:
      - 4224:4222
      - 8224:8222
    networks:
      - diss-net-all
    command: -m 8222 --user "diss" --pass "dissP@ssw0rd" --cluster nats://0.0.0.0:6222 --routes nats://nats2:6222

  nats-streaming1:
    image: arm64v8/nats-streaming:0.20.0
    depends_on:
      - nats1
      - nats2
      - nats3
    networks:
      - diss-net-all
    volumes:
      - /var/lib/diss/nats/nats-streaming1/data:/workspace/data
      - /var/log/diss/nats/nats-streaming1/log:/workspace/log
    command: "--store file --dir /workspace/data -clustered --cluster_log_path /workspace/log --cluster_id diss-cluster --cluster_node_id nats-streaming1  --cluster_peers nats-streaming2,nats-streaming3 --cluster_sync --nats_server nats://diss:dissP@ssw0rd@nats1:4222,nats://diss:dissP@ssw0rd@nats2:4222,nats://diss:dissP@ssw0rd@nats3:4222"

  nats-streaming2:
    image: arm64v8/nats-streaming:0.20.0
    depends_on:
      - nats1
      - nats2
      - nats3
    networks:
      - diss-net-all
    volumes:
      - /var/lib/diss/nats/nats-streaming2/data:/workspace/data
      - /var/log/diss/nats/nats-streaming2/log:/workspace/log
    command: "--store file --dir /workspace/data -clustered --cluster_log_path /workspace/log --cluster_id diss-cluster --cluster_node_id nats-streaming2 --cluster_peers nats-streaming1,nats-streaming3 --cluster_sync --nats_server nats://diss:dissP@ssw0rd@nats1:4222,nats://diss:dissP@ssw0rd@nats2:4222,nats://diss:dissP@ssw0rd@nats3:4222"

  nats-streaming3:
    image: arm64v8/nats-streaming:0.20.0
    depends_on:
      - nats1
      - nats2
      - nats3
    networks:
      - diss-net-all
    volumes:
      - /var/lib/diss/nats/nats-streaming3/data:/workspace/data
      - /var/log/diss/nats/nats-streaming3/log:/workspace/log
    command: "--store file --dir /workspace/data -clustered --cluster_log_path /workspace/log --cluster_id diss-cluster --cluster_node_id nats-streaming3 --cluster_peers nats-streaming1,nats-streaming2 --cluster_sync --nats_server nats://diss:dissP@ssw0rd@nats1:4222,nats://diss:dissP@ssw0rd@nats2:4222,nats://diss:dissP@ssw0rd@nats3:4222"