version: '3'
services:
  diss-backend-arm:
    restart: always
    container_name: diss-backend-arm
    build:
      context: .
      dockerfile: Dockerfile-arm
    image: registry.cn-qingdao.aliyuncs.com/diss/diss-backend-arm
    ports:
      - "8080:8080"
      - "10443:10443"
      - "8889:8889"
    env_file:
      - conf/diss-backend.env
      - conf/diss-backend-db-postgres.env
    links:
      - diss-db
    depends_on:
      - diss-db
    volumes:
      - /var/lib/diss/diss-backend/upload:/opt/diss-backend/upload
      - /var/log/diss-backend:/opt/diss-backend/logs
      - ./conf:/opt/diss-backend/conf
      - ./swagger:/opt/diss-backend/swagger
      - ./bin/diss-backend:/opt/diss-backend/diss-backend
      - ./entrypoint.sh:/opt/diss-backend/entrypoint.sh
      - /etc/hosts:/etc/hosts
    entrypoint:
      - ./entrypoint.sh

  diss-db:
    restart: unless-stopped
    container_name: diss-db
    image: arm64v8/postgres:9.6
    env_file:
      - ./conf/diss-backend-db-postgres.env
    ports:
      - 5432:5432
    volumes:
      - /var/lib/diss/postgres:/var/lib/postgresql/data

  diss-nats-streaming:
    restart: unless-stopped
    container_name: diss-nats-streaming
    image: arm64v8/nats-streaming:latest
    ports:
      - 8222:8222
      - 4222:4222
    env_file:
      - conf/diss-backend.env
    command: -cid=diss-cluster -p 4222 -m 8222 --user "$Nats_User" --pass "$Nats_Pwd"