version: '3'
networks:
  diss-net-all:
    external: true
services:
  diss-backend:
    restart: always
    container_name: diss-backend-arm
    build:
      context: .
      dockerfile: Dockerfile-arm
    image: registry.cn-qingdao.aliyuncs.com/diss/diss-backend-arm
    ports:
      - "10443:10443"
    links:
      - diss-db
    depends_on:
      - diss-db
    volumes:
      - /var/lib/diss/diss-backend/upload:/opt/diss-backend/upload
      - /var/log/diss-backend:/opt/diss-backend/logs
      - ./conf:/opt/diss-backend/conf
    entrypoint:
      - ./entrypoint.sh
    networks:
      - "diss-net-all"

  diss-db:
    restart: unless-stopped
    container_name: diss-db
    image: arm64v8/postgres:9.6
    env_file:
      - conf/diss-db.env
    expose:
      - 5432
    volumes:
      - /var/lib/diss/postgres:/var/lib/postgresql/data
    networks:
      - "diss-net-all"

  diss-nats-streaming:
    restart: unless-stopped
    container_name: diss-nats-streaming
    image: arm64v8/nats-streaming:latest
    ports:
      - 4222:4222
    command: -cid=diss-cluster -p 4222 -m 8222 --user "diss" --pass "diss"
    networks:
      - "diss-net-all"