version: '3'
networks:
  diss-net-all:
    external: true
services:
  diss-backend:
    restart: always
    container_name: diss-backend-arm
    image: registry.cn-qingdao.aliyuncs.com/diss/diss-backend-arm
    ports:
      - "10443:10443"
    env_file:
      - conf/diss-backend.env
      - conf/diss-backend-db-postgres.env
    links:
      - diss-db
    depends_on:
      - diss-db
    volumes:
      - ./upload/plugin/scope/diss-scope.yml:/opt/diss-backend/upload/plugin/scope/diss-scope.yml
      - ./upload/license/TrialLicense.lic:/opt/diss-backend/upload/license/TrialLicense.lic
      - /var/lib/diss/diss-backend/upload:/opt/diss-backend/upload
      - /var/log/diss-backend:/opt/diss-backend/logs
      - ./conf:/opt/diss-backend/conf
      - ./swagger:/opt/diss-backend/swagger
      - ./bin/diss-backend:/opt/diss-backend/diss-backend
      - ./entrypoint.sh:/opt/diss-backend/entrypoint.sh
      - /etc/hosts:/etc/hosts
    entrypoint:
      - ./entrypoint.sh
    networks:
      - "diss-net-all"

  diss-db:
    restart: unless-stopped
    container_name: diss-db
    image: arm64v8/postgres:9.6
    env_file:
      - ./conf/diss-backend-db-postgres.env
    expose:
      - 5432
    volumes:
      - /var/lib/diss/postgres:/var/lib/postgresql/data
    networks:
      - "diss-net-all"

  diss-nats-streaming:
    restart: unless-stopped
    container_name: diss-nats-streaming
    image: arm64v8/nats-streaming:latest
    ports:
      - 4222:4222
    env_file:
      - ./conf/diss-backend.env
    command: -cid=diss-cluster -p 4222 -m 8222 --user "diss" --pass "diss"
    networks:
      - "diss-net-all"