---
version: '2'
volumes:
  anchore-db-volume:
    # Set this to 'true' to use an external volume. In which case, it must be created manually with "docker volume create anchore-db-volume"
    external: false

  anchore-scratch: {}

networks:
  diss-net-all:
    external: true

#upload file max 600M
services:
  diss-api:
    restart: always
    image: registry.cn-qingdao.aliyuncs.com/diss/diss-api:1.0.12.9
    depends_on:
    - anchore-db
    - engine-api
    ports:
    - "8080:8080"
    logging:
      driver: "json-file"
      options:
        max-size: 100m
    environment:
    - ENGINE_URL=http://engine-api:8228
    - DATABASE_URL=postgresql://postgres:mysecretpassword@anchore-db:5432/postgres
    - PERMANENT_SESSION_LIFETIME=36000
    - FLASK_ENV=development    
    - LOGIN_BRUTE_FORCE_ATTACK=true
    volumes:
    - ./config:/config
    - ./av/db:/app/db/virus
    #- /root/x/diss_api/diss_api:/usr/local/lib64/python3.6/site-packages/diss_api
    networks:
    - diss-net-all
  engine-api:
    restart: always
    image: registry.cn-qingdao.aliyuncs.com/diss/diss-engine:1.0.6.2
    depends_on:
    - anchore-db
    - engine-catalog
    # ports:
    # - "8228:8228"
    expose:
    - 8228
    logging:
      driver: "json-file"
      options:
        max-size: 100m
    environment:
    - ENDPOINT_HOSTNAME=engine-api
    - DB_HOST=anchore-db
    - DB_PASSWORD=mysecretpassword
    volumes:
    - ./log/diss:/var/log/diss
    networks:
    - diss-net-all
    command: ["diss-manager", "service", "start", "apiext"]

  # Catalog is the primary persistence and state manager of the system
  engine-catalog:
    restart: always
    image: registry.cn-qingdao.aliyuncs.com/diss/diss-engine:1.0.6.2
    depends_on:
    - anchore-db
    logging:
      driver: "json-file"
      options:
        max-size: 100m
    expose:
    - 8228
    environment:
    - ENDPOINT_HOSTNAME=engine-catalog
    - DB_HOST=anchore-db
    - DB_PASSWORD=mysecretpassword
    - NATS_URL=nats://diss:diss@diss-nats-streaming:4222
    #- LOG_LEVEL=DEBUG
    volumes:
    - ./log/diss:/var/log/diss
    networks:
    - diss-net-all
    command: ["diss-manager", "service", "start", "catalog"]    
  engine-simpleq:
    restart: always
    image: registry.cn-qingdao.aliyuncs.com/diss/diss-engine:1.0.6.2
    depends_on:
    - anchore-db
    - engine-catalog
    expose:
    - 8228
    logging:
      driver: "json-file"
      options:
        max-size: 100m
    environment:
    - ENDPOINT_HOSTNAME=engine-simpleq
    - DB_HOST=anchore-db
    - DB_PASSWORD=mysecretpassword
    volumes:
    - ./log/diss:/var/log/diss
    networks:
    - diss-net-all
    command: ["diss-manager", "service", "start", "simplequeue"]
  engine-policy-engine:
    restart: always
    image: registry.cn-qingdao.aliyuncs.com/diss/diss-engine:1.0.6.2
    depends_on:
    - anchore-db
    - engine-catalog
    expose:
    - 8228
    logging:
      driver: "json-file"
      options:
        max-size: 100m
    environment:
    - ENDPOINT_HOSTNAME=engine-policy-engine
    - DB_HOST=anchore-db
    - DB_PASSWORD=mysecretpassword
    volumes:
    - ./log/diss:/var/log/diss
    networks:
    - diss-net-all
    command: ["diss-manager", "service", "start", "policy_engine"]
  engine-analyzer:
    restart: always
    image: registry.cn-qingdao.aliyuncs.com/diss/diss-engine:1.0.6.2
    depends_on:
    - anchore-db
    - engine-catalog
    expose:
    - 8228
    logging:
      driver: "json-file"
      options:
        max-size: 100m
    environment:
    - ENDPOINT_HOSTNAME=engine-analyzer
    - DB_HOST=anchore-db
    - DB_PASSWORD=mysecretpassword
    #- KEEP_IMAGE_ANALYSIS_TMPFILES=true
    #- LOG_LEVEL=DEBUG
    volumes:
    - ./config/analyze:/config/analyze:ro
    - ./av/db:/var/lib/clamav
    networks:
    - diss-net-all
    command: ["diss-manager", "service", "start", "analyzer"]
  anchore-db:
    restart: always
    image: "postgres:9.6"
    volumes:
    - ./db:/var/lib/postgresql/data
    environment:
    - POSTGRES_PASSWORD=mysecretpassword
    #ports:
    #- "2345:5432"
    expose:
    - 5432
    logging:
      driver: "json-file"
      options:
        max-size: 100m
    networks:
    - diss-net-all
  timescale-db:
    restart: always
    image: "timescale/timescaledb:latest-pg11"
    volumes:
    - ./timescale/data:/var/lib/postgresql/data
    environment:
    - POSTGRES_PASSWORD=password
    - TZ=Asia/Shanghai
    - PGTZ=Asia/Shanghai
    #ports:
    # - "35432:5432"
    expose:
    - 5432
    logging:
      driver: "json-file"
      options:
        max-size: 100m
    networks:
    - diss-net-all
  diss_falco_sub:
    restart: always
    image: registry.cn-qingdao.aliyuncs.com/diss/diss-falco-sub:1.0.7.20
    depends_on:
    - timescale-db
    - diss-api
    logging:
      driver: "json-file"
      options:
        max-size: 100m
    environment:
    - DATABASE_URL=postgresql://postgres:password@timescale-db:5432/postgres
    - NATS_URL=nats://diss:diss@diss-nats-streaming:4222
    - ALERT_NATS_URL=nats://diss:diss@diss-nats-streaming:4222
    - API_URL=http://diss-api:8080/v1
    - LOG_LEVEL=DEBUG
    networks:
    - diss-net-all
  nginx:
    restart: always
    image: nginx:latest
    ports:
      - 9876:80
    volumes:
      - ./driver.falco.download.local/nginx.conf:/etc/nginx/nginx.conf
      - ./driver.falco.download.local/html:/var/www

