apiVersion: v1
data:
  nginx.conf: |
    #user  nobody;
    worker_processes  1;
    events {
      worker_connections  1024;
    }

    http {
      include mime.types;
      default_type  application/octet-stream;

      log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
      '$status $body_bytes_sent "$http_referer" '
      '"$http_user_agent" "$http_x_forwarded_for"';

      #access_log  logs/access.log  main;

      sendfile        on;
      #tcp_nopush     on;

      #keepalive_timeout  0;
      keepalive_timeout  65;

      #gzip  on;


      #api服务配置
      server {
        listen 443 ssl default_server;
        server_name  _;
        #rewrite ^(.*)$ https://${server_name}$1 permanent;
        root /opt/dist;

        ssl_certificate "/etc/ssl/server.crt";
        ssl_certificate_key "/etc/ssl/server.key";

        location @router {
             rewrite ^.*$ / last;
        }

        location / {
                 try_files $uri $uri/ @router;
                 index index.html;
        }
      }
    }
kind: ConfigMap
metadata:
  managedFields:
    - apiVersion: v1
      fieldsType: FieldsV1
      fieldsV1:
        f:data:
          .: {}
          f:nginx.conf: {}
      manager: kubectl
      operation: Update
  name: diss-ui-nginx-config
  namespace: default
