apiVersion: v1
kind: Service
metadata:
  labels:
    origin: diss
    app: diss-nats-streaming
  name: diss-nats-streaming
  namespace: diss
spec:
  ports:
  - name: "8222"
    port: 8222
  - name: "4222"
    port: 4222
    targetPort: 4222
  selector:
    origin: diss
    app: diss-nats-streaming
