apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    origin: diss
    app: diss-nats-streaming
  name: diss-nats-streaming
  namespace: diss
spec:
  serviceName: diss-nats-streaming
  replicas: 1
  selector:
    matchLabels:
      origin: diss
      app: diss-nats-streaming
  template:
    metadata:
      labels:
        origin: diss
        app: diss-nats-streaming
    spec:
      containers:
      - args:
        - -cid=diss-cluster
        - -p
        - "4222"
        - -m
        - "8222"
        - --user
        - "diss"
        - --pass
        - "dissP@ssw0rd"
        image: registry.cn-qingdao.aliyuncs.com/diss/nats-streaming:latest
        imagePullPolicy: IfNotPresent
        name: diss-nats-streaming
        ports:
        - containerPort: 8222
        - containerPort: 4222
        resources: {}
      restartPolicy: Always
