apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../../docker-compose-prod.yml
    kompose.version: 1.21.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: diss-nats-streaming
  name: diss-nats-streaming
  namespace: diss
spec:
  ports:
  - name: "8222"
    port: 8222
  - name: "4222"
    port: 4222
    targetPort: 4222
  selector:
    io.kompose.service: diss-nats-streaming
status:
  loadBalancer: {}
