apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../../docker-compose-prod.yml
    kompose.version: 1.21.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: diss-nats-streaming
  name: diss-nats-streaming
  namespace: diss
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: diss-nats-streaming
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f ../../docker-compose-prod.yml
        kompose.version: 1.21.0 ()
      creationTimestamp: null
      labels:
        io.kompose.service: diss-nats-streaming
    spec:
      containers:
      - args:
        - -cid=diss-cluster
        - -p
        - "4222"
        - -m
        - "8222"
        - --user
        - "diss"
        - --pass
        - "diss"
        env:
        - name: Nats_Client_Id
          valueFrom:
            configMapKeyRef:
              key: Nats_Client_Id
              name: conf-diss-backend-env
        - name: Nats_Cluster_Id
          valueFrom:
            configMapKeyRef:
              key: Nats_Cluster_Id
              name: conf-diss-backend-env
        - name: Nats_Enable
          valueFrom:
            configMapKeyRef:
              key: Nats_Enable
              name: conf-diss-backend-env
        - name: Nats_Ip
          valueFrom:
            configMapKeyRef:
              key: Nats_Ip
              name: conf-diss-backend-env
        - name: Nats_Port
          valueFrom:
            configMapKeyRef:
              key: Nats_Port
              name: conf-diss-backend-env
        - name: Nats_Prefix
          valueFrom:
            configMapKeyRef:
              key: Nats_Prefix
              name: conf-diss-backend-env
        - name: Nats_Pwd
          valueFrom:
            secretKeyRef:
              key: Nats_Pwd
              name: conf-diss-backend-env-secret
        - name: Nats_User
          valueFrom:
            configMapKeyRef:
              key: Nats_User
              name: conf-diss-backend-env
        image: registry.cn-qingdao.aliyuncs.com/diss/nats-streaming:latest
        imagePullPolicy: IfNotPresent
        name: diss-nats-streaming
        ports:
        - containerPort: 8222
        - containerPort: 4222
        resources: {}
      restartPolicy: Always
      serviceAccountName: ""
      volumes: null
status: {}
